* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    background-color: #000;

    display: flex;
    justify-content: center;
}
.space {
    display: flex;
    width: 70vw;
    height: 100vh;

    background-image: url("../img/space.png");
}
.planet-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.planet{
    position: relative;

    max-width: 100vw;
    max-height: 100vw;

    z-index: 2;
}
.rocket{
    position: absolute;
    z-index: 1;
}
                                    /*CONTROL PANEL STYLES*/
.control-panel{
    display: flex;
    align-self: center;
    justify-content: center;

    z-index: 2;
}
.control-panel__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw 0;

    padding: 1vw ;
    background-color: #252424;
}
.input-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
input {
    width: 40%;
}
input[type="password"] {
    width: 55%;

    background-color: #252424;
    color: grey;
    border: 2px solid yellow;
    border-radius: 2vw;
}
.button-ok {
    padding: 0.2vw;
    width: 15%;

    background-color: yellow;
    border: none;
    border-radius: 1vw;

}
.button-launch {
    padding: 0.2vw;
    width: 40%;

    background-color: red;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10vw;
}
.levers{
    display: flex;
    flex-direction: row;
}
input[type="range"] {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
}
.check-buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
                                        /* DESKTOP STYLES */
@media screen and (min-device-width: 500px){
    .space {
        flex-direction: row;
        align-items: flex-end;
    }
    .planet-area {
        width: 45%;
    }
    .rocket {
        bottom: 14vw;
        left: 31vw;

        width: 15vw;
        height: 15vw;

        transform: rotate(30deg);
    }
    .control-panel {
        margin-left: 10vw;
        margin-right: 1vw;

        background-color: black;
        background-image: repeating-linear-gradient(45deg, transparent, transparent 20px, yellow 15px, yellow 30px);
    }
    .control-panel--element {
        display: none;
    }
    .control-panel__inner {
        margin: 1vw;
    }
}
                                        /* MOBILE STYLES */
@media screen and (max-device-width: 500px){
    .space{
        flex-direction: column;
        align-items: flex-start;
        width: 90vw;
    }
    .planet-area {
        width: 100%;
        height: 100%;
    }
    .rocket{
        bottom: 52vw;
        left: 38vw;

        width: 20vw;
        height: 20vw;

        transform: rotate(5deg);
    }
    .control-panel {
        position: fixed;
        margin: auto;
        top: 0;
        background-image: none;

        -webkit-transition-duration: 0.7s;
        -moz-transition-duration: 0.7s;
        -o-transition-duration: 0.7s;
        transition-duration: 0.7s;
    }
    .control-panel--element{
        display: block;

        padding: 1.5vw;
        border-bottom-right-radius: 2vw;
        border-bottom-left-radius: 2vw;

        background-color: #252424;
        color:  #fff;
        font-size: 2em;
    }
    .control-panel__inner {
        width: 300px;
        height: 260px;
        margin: 0;
        border-radius: 2vw;

        position: fixed;
        top: -260px;

        -webkit-transition-duration: 0.7s;
        -moz-transition-duration: 0.7s;
        -o-transition-duration: 0.7s;
        transition-duration: 0.7s;

    }
    .control-panel:hover {
        top: 260px;
    }
    .control-panel:hover .control-panel__inner{
        top: 0;
    }
}